<!-- Pied de page, contient le pied de page, la déclaration des fichiers JS et l'appel des modals -->
<div class="footer">
    <div class="pull-right">
        <strong>sources :</strong>
        <span class="badge badge-primary">AOC/IGP INAO</span> &
        <span class="badge badge-success">fonds cartos IGN </span>

    </div>
    <div>
        <strong>Copyright</strong> INAO &copy; 2018 Application de visualisation des
        <strong>Aires de production</strong> 
    </div>
</div>

</div>

<!--debut zone param-->


<div id="right-sidebar">
    <div class="sidebar-container">
        <ul class="nav nav-tabs navs-2">
            <li class="active">
                <a data-toggle="tab" href="#tab-1">
                    Couches
                </a>
            </li>
          
            <li class="">
                <a data-toggle="tab" href="#tab-3">
                    Fonds de carte 
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <!--debut onglet couche-->
            <div id="tab-1" class="tab-pane active">

                <div class="sidebar-title">
                    <h3>
                        <i class="fa fa-location-arrow"></i> Couches chargées</h3>
                    <small>
                        <i class="fa fa-tim"></i>Les différentes couches chargées :
                    </small>
                </div>

                <div class="ibox">
                    <div class="ibox-content col-sm-12">
                        <ul class="sortable-list connectList agile-list" id="couches">
                            <!-- les couches se mettent ici-->

                        </ul>
                    </div>
                </div>
            </div>
            

            <!--debut onglet Params-->
            <div id="tab-3" class="tab-pane">

                <div class="sidebar-title">
                    <h3>
                        <i class="fa fa-gears"></i> Paramètres des couches de fond</h3>
                    
                </div>

              
                    <div  id="coucheIGN">
                       
        
                    </div>
              
               
                <div class="sidebar-content">
                    <h4>Paramètres</h4>
                    <div class="small">
                        Lorem ipsum dolor dolor test
                    </div>
                </div>

            </div>
            <!--fin onglet params-->
        </div>

    </div>



</div>

</div>



<!-- Mainly scripts -->
<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/javascripts/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- jquery UI -->
<script src="/javascripts/plugins/jquery-ui/jquery-ui.min.js"></script>


<!-- Touch Punch - Touch Event Support for jQuery UI -->
<script src="/javascripts/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>

<script src="/javascripts/plugins/bootstrap-colorpicker.min.js"></script>


<!-- Custom and plugin javascript -->
<script src="/javascripts/inspinia.js"></script>
<script src="/javascripts/plugins/pace/pace.min.js"></script>
<!-- Toastr script -->
<!-- <script src="/javascripts/plugins/toastr.min.js" type="text/javascript"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha256-3blsJd4Hli/7wCQ+bmgXfOdK7p/ZUMtPXY08jmxSSgk=" crossorigin="anonymous"></script>

<script src="/javascripts/plugins/typeahead.js"></script>



<!-- Sweet alert -->
<script src="/javascripts/plugins/sweetalert.min.js"></script>


<!--OpenLayers version 5.0.3 JS-->
<script src="/javascripts/ol/ol-debug.js" type="text/javascript"></script>
<script src="/javascripts/initializer.js"></script>


<!-- Geoportail OpenLayerExtension JS -->
<script src='/javascripts/GpPluginOpenLayers.js' type="text/javascript"></script>
<script src="/javascripts/gestionCouleur.js"></script>

<script src="/javascripts/modulesplugins.js"></script>
<script src="/javascripts/moduleView.js"></script>




<!--JS PAGE-->
<script src="/javascripts/page.js"></script>

<script type="text/javascript">
    $(function() {
        toastr.warning('Bienvenue sur <b>sig-inao.fr !</b>', 'Plateforme de visualisation des aires de Production');
   });
</script>



</body>



</html>
