<!--
Project created on the 29/05/2018 by Jean Roger NIGOUMI Guiala <mail@jrking-dev.com>
stopped working on the 31-10-2018.... I miss this code :(
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMWXKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKNMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
WM0;....................................................................................xWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
WM0'                                                                                    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'   ,ll;.............'cc.   .:cccc;.  .;ccccccc:;'.                ..,::ccccccc:.    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'  .ckx:,,,,,,,,,,,,,cxx'   'oxddxo.  .cxxdxxo:..                     .;ldxddxxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
WWO.   ckd:,,,,,,,,,,,,;okd,   .cxddxl.  .cxdddc.       .';:ccc::;.        .lxdddxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'   :kxc,,,,,,,,,,,;oxkd,    :dddxl.  .cxddo;.......'cdxddxxdxxl.       .:xdddxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'   :kko:,,,,,,,,,cdxkkx,    ,dxdxl.  .cxddddoooodddddddddooll:'        .:xdxxxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'   ckkkdl:;;;;:ldxkkkkx,    .oxdxl.  .cdddxxdolc:;,,''......           .cxdxdxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'  .ckkkkkxxddxxkkkkkkkx,    .cddxl.  .cxdddl,..           ...''.       .cxdddxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'  .ckkkkkkkkkxddoodxkkd,     ;ddxl.  .cxdd;.       ..;:cllooodd'       .cxdxdxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'  .ckkkkkxoc;'.. ..;dkd'     'oxxl.  .cxxl.        ;ddddddddxxc.       .cxdddxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'   ckkkdc'.        .ckx,     .lxdl.  .cddl.        ,ldddddolc,.        .:xdxdxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'   cxo;..          .ckx'     .:dxo.  .cdddc.        ...'....  ..       .:xxxdxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'   ',.':c.         .okx,      ,oxl.  .cxdddo:'..          ..';lc.      .:dxxdxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
WM0'   .,lxko.        .:xkd,      .lxl.  .cxddddxdolc:;;;;;::clodxxdlcccccccoddxxxo'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'   :xkkx;         ,dkkx,      .cxl.  .cxddxxdddxxxxxxddxxddoc:;,'.........',;cc.    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'  .ckkxc.        'okkkx,       ;dl.  .cxddxxxdddxxxdxddl:'..                        oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'  .ckko.        .lkkkkd,       'do.  .cxdddxxdxddxxdc,.    ..';clodddxddolc:,..     oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM0'   ckd,        .ckkkkkx,       .lo.  .cxddddddxddo:.    .;lxO0000000000000000Od'    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM0'   cx;        .:xkkkkkd,   .   .:l.  .cxdddddddo;.   .:dO000000000000000000000k,    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'   :c.        ;xkkkkkkd'   ..   ,l.  .cxdddxddc.   .lk000000000000000000000000k,    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'   '.        ,dkkkxddkd'   ,,   'c.  .cdddddo,   .ck00000000000000000000000000k,    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'            .okkkd;;dkd,   ;:   .;.  .cxdddl.   ,x0000000000000000000000000000k,    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM0'           .ckkxl'.lkkx,   ;l.   ,.  .cxddl.  .:O00000000000000000000000000000k,    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'           ,dkx:..lxkkx,   ;o'   ..  .cxdl.  .cO000000000000000000000000000000k,    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMO'           :dl'.'okkkkx,   ;d;       .cxo,   :O0000000000000000000000000000000k,    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM0'           ....:dkkkkkx,   ;dc.      .cxc.  'xK0000000000000000000000000000000O,    oWMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MM0'            .;dkkkkkkkx,   ;do'      .cd,   c000000000000000000000000000000000O,    'lolooooooooooooooooooooooooooooolllllllooooooooooooooooooooooooooooooooooooooooollllllllllllllllooollllllolxNMM
MM0'         .,cdkkkkkkkkkx,   ,dd;      .co.  .d000000000000000000000000000000000O,                                                                                                                '0MM
MM0'   ..',:ldkkkkkkkkkkkkx,   ,dxc.     .cl.  'xK00000000000000000000000000000000O,                                                                                                                '0MM
MWO'   :xxkkkkkkkkkkkkkkkkx,   ,dxo'     .cc.  'kK00000000000000000000000000000000O,       .;.;c.    ';.':;;..;lc'';''cl;.;'  .;,.cl:.   .c'   .;.  .c' .,ll'':. ,;,,;;' 'c'   .:.  .c'  .:.        '0MM
MMO'   ckkkkkkkkkkkkkkkkkkx,   ;dxd;     .cl.  .xK00000000000000000000000000000000O,       ;l'lxc;.  :l.cl'.  .l; 'l' :l..l;  .o; ;o.    ,xo:. .o, .cdl.  l: 'o;:l.   .l;:kl:. 'o, .cdl. ,o.        '0MM
MMO.  .ckkkkkkkkkkkkkkkkkkx,   ;dddc.    .co.  .oK00000000000000000000000000000000O,       ;l'c;.,c,.ll. .;l:..l; 'l' ;l..l;  .o; ,o.    ,l..c::o,.lx:od. l: 'l:l:     cc:l.'c::d'.od:do.,o.        '0MM
MMO'  .ckkkkkkkkkkkkkkkkkkd,   ;ddxo.    .cd;   ;O00000000000000000000000000000000O,       ;l'c;  .;cxl.;;'lc..l; 'l. ;l. ;l,':l. ,o.    ,l.  'ox;:l'.'cc.c: 'o,.c:'.,::.;l.  'od;cl'.'lc:d:.       '0MM
MMO'  .ckkkkkkkkkkkkkkkkkkd,   ,dddd;    .cxc.  .o00000000000000000000000000000000O,       .. ..     .. .,,'   ..  .  ..   .,,'.  ..     ..     ....    ....  ..  .,,,.  ..     ...    ...','       '0MM
MMO'  .ckkkkkkkkkkkkkkkkkkd,   ,ddddc.   .cxd;   'x0000000000000000000000000000000O,                                                                                                                '0MM
MMO'  .ckkkkkkkkkkkkkkkkkkd,   ;ddddl.   .cxxo,   ,x000000000000000000000000000000O,       .:;,;' .;l:,,.    ,. .,. .;;,,;' .;:;,..,. ';,,;;. ''.;'    '..;:,'.    ;:,,..;c:'    ,:,;;. .:;,'       '0MM
MMO.  .ckkkkkkkkkkkkkkkkkkd,   ;dddxd,   .cddxo'   'd00000000000000000000000000000k,       ;o. .l:'oOl''.   .l; .,.'l;.  .l:'o:,d;'o,;l'  .'. c:.dd:'  c:.dl'.    .ol''. .o:     cc .;l',x:'.       '0MM
MMO'   ckkkkkkkkkkkkkkkkkkx,   ;dxxxx:.  .cxddxo,   .ck000000000000000000000000000k,       ;l.  ;l,o0o,,.   .l;    cc     ;l;dko;.'o:l;  .';:.c:.l,.c:'l:.dl,'.   .oo,,. .o;     c:   l:,xc,'       '0MM
MMO'   :kkkkkkkkkkkkkkkkkkd,   ;dxddxl.  .cxdddxd;.   'oO000000000000000000000000KO,       ,d;.;l,.oOc..    .ol..  .c:'..;l,'oc:c.'o,,l;..,lc.c:.o,  'ck:.o:..    .oc..  .l;     cl.'cc.,d;..       '0MM
MM0'   .,,,,,,,,,,,''''',,'.   .'''','.   .'''''''.     .,;;;;;;;;;;;;;;;;;;;;;;;;,.       .;;;,.  ,:;,,.    ';,.    ';;;,. .'. '..'. .,;;;'  .. ..    .. ,;;,.    ';,,.  ..     .;;,.  .;;;'       '0MM
MMO'                                                                                                                                                                                                '0MM
MMKc,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.               .'      .;'        ';,;;. .'.  .'.  .'    '.  ...,::,..;;;'                                              '0MM
MMWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWx.              ,l.    .lkx;     .c:...,l;,l'  ,o. .lx;  .o,  cc .ll. ;x:'.                                              '0MM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMx.              ,l.   .lo,:d;    :l   . ,l:l'  ,o..oo:d; .o,  c:  :c  ;xc,'                                              '0MM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMx.              ,o'  .co;,,cd,   .l:..:ox:'l:..cl.co;,cd'.o:  cc  cc  ;d'.                                               '0MM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMx.              .:;' .,.    .'    .,;,,::. .;;;;..,.   ''.,:'.'.  ..  .:;,'                                              ,0MM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMx.                                                                                                                       '0MM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMk,.......................................................................................................................:KMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMWXXXXXXXXXXXXXXXXKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXKXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXWMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM


-->

<!--
    OOOOOH you came this far... I assume you are a developper
    So you want to know how this works? hummmm maybe you are just curious 
    hope you do'nt have bad intention and that you don't want to hack this code....
    I'm sad.
    In fact it's free so if you wanna hack don't waste your time, go on github or better call me .

-->




<!DOCTYPE html>


<html lang="fr">

<head>


    <!--META-->
    <META NAME="author" CONTENT="Jean Roger NIGOUMI GUIALA">
    <meta name="contact" content="mail@jrking-dev.com">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
    <meta name="description" content="Application de visualisation cartographique des Appellations d'origine controllées">
    <meta name="fragment" content="!" />
    <!-- Fin META -->

    <!--SOCIAL MEDIA-->
    <meta property="og:title" content="GeoInao" />
    <meta property="og:url" content="http://www.sig-inao.fr/" />
    <meta property="og:image" content="#" />
    <title>
        sig-inao

    </title>
    <!-- appel bibliothèque de style-->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">




    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" integrity="sha256-xykLhwtLN4WyS7cpam2yiUOwr709tvF3N/r7+gOMxJw="
        crossorigin="anonymous" />
    <!-- Sweet Alert -->
    <link href="/stylesheets/plugins/sweetalert.css" rel="stylesheet">

    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />



    <link rel="stylesheet" href="/stylesheets/plugins/colorPicker/bootstrap-colorpicker.min.css" />

    <!--Fin appel bibliothèque de style-->

    <!--OpenLayers version 4.6.5 CSS-->
    <link href="/stylesheets/ol/ol.css" rel="stylesheet">

    <!--Geoportail openLayerExtension CSS-->
    <link href="/stylesheets/GpPluginOpenLayers.css" rel="stylesheet">

</head>

<body style="margin: 0 !important; height: 100%!important;" class="top-navigation">




    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <!-- ENTETE DE LA PAGE -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">

                        <!-- Bouton qui apparait à partir d'une certaine taille -->
                        <button aria-controls="right-sidebar" aria-expanded="true" data-target="#right-sidebar" class="right-sidebar-toggle navbar-toggle collapsed"
                            type="button">
                            <i class="fa fa-reorder"></i>
                        </button>

                        <!-- logo de l'inao-->
                        <a href="https://www.inao.gouv.fr/" target="_blank" class="navbar-brand">
                            <img src="/images/Configuration_inao_logo.png" class="logoInao">
                        </a>

                        <!--Bouton de recherche pour le mobile-->
                        <div class="dropdown searchMobile text-center">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-search fa-2x"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu">
                                <li>
                                    <div class="input-group">
                                        <input type="text" id="searchM" placeholder="chercher une Appellation" class="input form-control typeahead">
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>

                    <!-- élément de l'entete (form recherche et menu)-->
                    <ul class="nav navbar-top-links ">


                        <!-- recherche sur ecran de dimension supérieure à 768px-->
                        <li class="recherche ">
                            <div class=" searchGroup1">
                                <form onsubmit="return false;">
                                    <div class="input-group inputSearch1" id="multiple-datasets">
                                        <input type="text" id="search" placeholder="Chercher une appellation..." class="input form-control typeahead "
                                            autocomplete="off">
                                        <!--form-control -->

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn btn-primary" id="AutreRecherche">
                                                <i class="fa fa-plus fa-1x"></i>
                                            </button>
                                        </span>
                                    </div>

                                </form>
                            </div>
                        </li>


                        <!-- Bouton de menu-->
                        <li class="menu-desktop navbar-right">
                            <a id="sidebarmenu" href="#" class="right-sidebar-toggle">
                                <i class=" fa fa-tasks fa-3x"></i>
                                <!--modif ici-->
                            </a>
                        </li>

                    </ul>

                </nav>
            </div>