<!--
created on the 29/05/2018 by Guiala Jean Roger
-->
<!-- Application de visualisation des AOC viticoles -->
<!--Work starting : 29/05/2018
View conception and test

19/06/2018: problème affichage carte à moitié sur mobile (responsive)
-->

<!DOCTYPE html>


<html lang="fr">

<head>


    <!--META-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no, viewport-fit=cover" />
    <meta name="description" content="Application de visualisation cartographique des Appellations d'origine controllées">
    <meta name="fragment" content="!" />
    <!-- Fin META -->

    <!--SOCIAL MEDIA-->
    <meta property="og:title" content="SIG-INAO" />
    <meta property="og:url" content="http://www.sig-inao.fr/" />
    <meta property="og:image" content="#" />
    <title>
      sig-inao

    </title>
    <!-- appel bibliothèque de style-->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">



    <!-- Toastr style -->
    <link href="/stylesheets/plugins/toastr.min.css" rel="stylesheet">
    <!-- Sweet Alert -->
    <link href="/stylesheets/plugins/sweetalert.css" rel="stylesheet">

    <link href="/stylesheets/animate.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!--Subresource Integrity SRI  https://report-uri.com/home/sri_hash-->
   

        <!-- href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css" -->
    <link rel="stylesheet" href="/stylesheets/plugins/colorPicker/bootstrap-colorpicker.min.css" />


    <!--Fin appel bibliothèque de style-->

    <!--OpenLayers version 4.6.5 CSS-->
    <link href="/stylesheets/ol/ol.css" rel="stylesheet">

    <!--Geoportail openLayerExtension CSS-->
    <link href="/stylesheets/GpPluginOpenLayers.css" rel="stylesheet">

</head>

<body style="margin: 0 !important; height: 100%!important;" class="top-navigation">




    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <!-- ENTETE DE LA PAGE -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">

                        <!-- Bouton qui apparait à partir d'une certaine taille -->
                        <button  aria-controls="right-sidebar" aria-expanded="true" data-target="#right-sidebar"
                            class="right-sidebar-toggle navbar-toggle collapsed" type="button">
                            <i  class="fa fa-reorder"></i>
                        </button>

                        <!-- logo de l'inao-->
                        <a href="/" class="navbar-brand">
                            <img src="/images/Configuration_inao_logo.png" class="logoInao">
                        </a>

                        <!--Bouton de recherche pour le mobile-->
                        <div class="dropdown searchMobile text-center">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-search fa-2x"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu">
                                <li>
                                    <div class="input-group">
                                        <input type="text" id="searchM" placeholder="chercher une Appelation" class="input form-control typeahead">
                                    </div>
                                </li>

                            </ul>
                        </div>

                    </div>

                    <!-- élément de l'entete (form recherche et menu)-->
                    <ul class="nav navbar-top-links ">


                        <!-- recherche sur ecran de dimension supérieure à 768px-->
                        <li class="recherche ">
                            <div class=" searchGroup1">
                                <form onsubmit="return false;">
                                    <div class="input-group inputSearch1" id="multiple-datasets">
                                        <input type="text" id="search" placeholder="chercher une Appelation "
                                            class="input form-control typeahead " autocomplete="off">
                                        <!--form-control -->

                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn btn-primary" id="AutreRecherche" >
                                                <i class="fa fa-plus fa-1x"></i>
                                            </button>
                                        </span>
                                    </div>

                                </form>
                            </div>
                        </li>


                        <!-- Bouton de menu-->
                        <li class="menu-desktop navbar-right">
                            <a id="sidebarmenu" href="#" class="right-sidebar-toggle" >
                                <i class=" fa fa-tasks fa-3x"></i>
                                <!--modif ici-->
                            </a>
                        </li>

                    </ul>

                </nav>
            </div>