<script>
    function httpGet(theUrl) {
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open("GET", theUrl, false); // false for synchronous request
        xmlHttp.send(null);
        return xmlHttp.responseText;
    }
    var appel =httpGet("http://127.0.0.1:3000/api");
    
    console.log(appel);
   
    var appellation = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('appellation'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: appel
    });

    var nhlTeams = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('team'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        prefetch: '../data/nhl.json'
    });

    $('#multiple-datasets .typeahead').typeahead({
        highlight: true
    },
        {
            name: 'appellation',
            display: 'appellation',
            source: appellation,
            templates: {
                header: '<h3 class="league-name"appellation</h3>'
            }
        },
        {
            name: 'nhl-teams',
            display: 'team',
            source: nhlTeams,
            templates: {
                header: '<h3 class="league-name">NHL Teams</h3>'
            }
        });
</script>