<% include partials/head %>
<div  class="container-fluid carte"><!--wrapper wrapper-content-->

  <div class="row " >

      <div id="map" class="full-map" >
      </div>


  </div>



</div>
<% include partials/foot %>
<% include partials/indexJS %>