<!-- Page principale de l'application, on inclut ici l'entete et le pied, c'est également ici qu'on déclare la carte -->

<% include partials/head %>

<div  class="container-fluid carte"><!--wrapper wrapper-content-->
    <div  id="map" class="row">

    </div>
 

      
</div>
<% include partials/foot %>

<script>
 
</script>